@media (min-width: 1200px) {
  .bg-img {
    background-image: url(/assets/img/corner.png);
    background-color: white;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {

  .bg-img {
    background-image: none;
}

}
@media (min-width: 768px) and (max-width: 991px) {

  .bg-img {
background-image: none;
}

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

  .bg-img {
background-image: none;
}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

  .bg-img {
background-image: none;
}

}
