
<div class="header pb-8 pt-5 pt-md-8">

    <div class="container-fluid" style="background-color: #F0F3F4 ;">

      
      <div class="row">

        <div class="col-1"></div>
        <div class="col-10">


          <br>
          <br>

          <div class="row">
            <div class="col-5"></div>
            <div class="col-3">
               <h2 style="color:black; font-size:25px">Jornada y Partidas</h2>
            </div>
            <div class="col-4"></div>
          </div>
          <br>
          <br>
          <div class="header-body">

            <div class="row container-center" *ngIf="matchDays">

              <div *ngFor="let item of matchDays" class="tarjeta" style="width:360px; height: auto;">
                <div class="container">
                  <div class="row titulocard">
                    <div class="title col-9" style="align-self: center;">{{item.m_name}}</div>

                  </div>
                  <hr style="margin-top:0px ;">
                </div>
                <div class="body" style="margin-left: 40px;margin-bottom: 20px; height: 100%;">


                  <div>


                    <div class="row" *ngFor="let item of item.matches" style="margin-bottom:20px;">


                      <div class="col-1" style="border-top-style: solid;
                      border-right-style: solid;
                      border-bottom-style: solid;
                      border-left-style: solid;width: 30px;height: 30px; padding-left: 8px;">
                      <label> {{item.score1}}</label>
                      </div>
                      <div class="col-3">
                        <div class="imagencard">
                          <img style=" width: 30px; max-height:30px;"
                            src="https://ligasabatinadefutbol.com.mx/media/bearleague/{{item.logoTeam1}}" alt="sample">
                        </div>
                      </div>
                      <div class="col-2"><h5>VS</h5></div>
                      <div class="col-1" style="margin-left: 10px;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;width: 30px;height: 30px; padding-left: 8px;"> {{item.score2}}</div>
                      <div class="col-3">
                        <div class="imagencard">
                          <img style=" width:30px; max-height:30px;"
                            src="https://ligasabatinadefutbol.com.mx/media/bearleague/{{item.logoTeam2}}" alt="sample">
                        </div>
                      </div>

                      <div class="col-1" >

                      </div>

                    </div>




                  </div>
                </div>

                <div class="pie">

                  <a [routerLink]="['/detailsMatchDays', item.id]">Detalles</a>
                </div>

              </div>
            </div>
          </div>

        </div>
        <div class="col-1"></div>

      </div>





    </div>
  </div>
