<div class="header pb-8 pt-5 pt-md-8">

  <div class="container-fluid" style="background-color: #F0F3F4 ;">

    <div class="row">


      <div class="col-4">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row" style="margin-top: 20px;">

            <!--teamsLogin-->
            <div class="tarjeta titulocard">

              <div class="body">
                <!--Aqui ira el logo-->
                <div class="imagencard">
                  <img style=" width: 100%" [src]="imageSrc" alt="sample">
                </div>

              </div>
              <!-- <div class="pie">
  
                </div> -->
            </div>
          </div>
        </div>


        <div class="header-body">

          <form>
            <!-- Card stats -->
            <div class="row" style="margin-top: 20px;">

              <!--teamsLogin-->
              <div class="tarjeta titulocard">

                <div class="body">

                  <h2 style="color:black ; padding: 20px; text-align: center;">Proximo partido</h2>

                  <div class="row">

                    <div class="col-4">
                      <div class="imagencard" style="display: flex; justify-content: flex-start;">
                        <img style=" width: 100px;height: 110px ;padding: 10px;" [src]="imageSrc1" alt="sample">
                      </div>
                    </div>
                    <div class="col-4" style="display: flex;align-items: center;justify-content: center;">
                      <h2 style="color:black;">VS</h2>
                    </div>
                    <div class="col-4">
                      <div class="imagencard" style="display: flex; justify-content: flex-end;">
                        <img style=" width: 100px; height: 110px;;padding: 10px;" [src]="imageSrc2" alt="sample">
                      </div>
                    </div>

                  </div>



                </div>
                <!-- <div class="pie">

    </div> -->
              </div>
            </div>
          </form>

        </div>

      </div>
      <div class="col-4">

        <!-- https://codepen.io/jlalovi/details/bIyAr -->
        <h2 style="color:black ;">Lo mejor del torneo</h2>
        <div>
          <img style=" width: 100px" src="https://cdn-icons-png.flaticon.com/512/2112/2112139.png">
          <h4 style="color:black ;">Goleador</h4>
          <div class="row">
            <div class="col5">
              <h4 style="color:black ;">Ha anotado</h4>
              <p style="color:black ;">0 goles</p>
            </div>
            <div class="col-2"></div>
            <div class="col5">
              <h4 style="color:black ;">Anotado cada </h4>
              <p style="color:black ;">0 minutos</p>

            </div>
          </div>
        </div>


        <div>
          <img style=" width: 100px" src="https://cdn-icons-png.flaticon.com/512/2112/2112139.png">
          <h4 style="color:black ;">Ofensiva</h4>
          <div class="row">
            <div class="col5">
              <h4 style="color:black ;">Goles a favor</h4>
              <p style="color:black ;">0 goles</p>
            </div>
            <div class="col-2"></div>
            <div class="col5">
            </div>
          </div>
        </div>

        <div>
          <img style=" width: 100px" src="https://cdn-icons-png.flaticon.com/512/2112/2112139.png">
          <h4 style="color:black ;">Defensiva</h4>
          <div class="row">
            <div class="col5">
              <h4 style="color:black ;">Goles en contra</h4>
              <p style="color:black ;">0 goles</p>
            </div>
            <div class="col-2"></div>
            <div class="col5">
            </div>
          </div>
        </div>

        <div>
          <img style=" width: 100px" src="https://cdn-icons-png.flaticon.com/512/2112/2112139.png">
          <h4 style="color:black ;">Fair play</h4>
          <div class="row">
            <div class="col5">
              <h4 style="color:black ;">Amarillas</h4>
              <p style="color:black ;">0 tarjetas</p>
            </div>
            <div class="col-2"></div>
            <div class="col5">
              <h4 style="color:black ;">Rojas</h4>
              <p style="color:black ;">0 tarjetas</p>

            </div>
          </div>
        </div>



      </div>


      <div class="col-4">
        <h2 style="color:black ;">CONTENIDO DE TABLAS</h2>

        <div class="row">
          <div class="col-6">

            <div class="table-responsive bordertable table-striped">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th style="background-color:#ed1c24 ;color: white;" scope="col">Tabla general</th>
                    <!-- <th scope="col"></th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      dato1
                    </th>

                  </tr>
                  <tr>
                    <th scope="row">
                      dato2
                    </th>

                  </tr>
                  <tr>
                    <th scope="row">
                      dato3
                    </th>
                    <!-- <td>
                            <div class="d-flex align-items-center">
                              <span class="mr-2">80%</span>
                              <div>
                                <div class="progress">
                                  <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                </div>
                              </div>
                            </div>
                          </td> -->
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
          <div class="col-6">

            <div class="table-responsive bordertable table-striped">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th style="background-color:#ed1c24 ;color: white;" scope="col">Goleadores</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      dato1
                    </th>
                    <!-- <td>
                        <div class="d-flex align-items-center">
                          <span class="mr-2">60%</span>
                          <div>
                            <div class="progress">
                              <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                            </div>
                          </div>
                        </div>
                      </td> -->
                  </tr>
                  <tr>
                    <th scope="row">
                      dato2
                    </th>

                  </tr>
                  <tr>
                    <th scope="row">
                      dato3
                    </th>
                    <!-- <td>
                        <div class="d-flex align-items-center">
                          <span class="mr-2">80%</span>
                          <div>
                            <div class="progress">
                              <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                            </div>
                          </div>
                        </div>
                      </td> -->
                  </tr>

                </tbody>
              </table>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-6">

            <div class="table-responsive bordertable table-striped">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th style="background-color:#ed1c24 ;color: white;" scope="col">Amonestados</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      dato1
                    </th>

                  </tr>
                  <tr>
                    <th scope="row">
                      dato2
                    </th>

                  </tr>
                  <tr>
                    <th scope="row">
                      dato3
                    </th>
                    <!-- <td>
                        <div class="d-flex align-items-center">
                          <span class="mr-2">80%</span>
                          <div>
                            <div class="progress">
                              <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                            </div>
                          </div>
                        </div>
                      </td> -->
                  </tr>

                </tbody>
              </table>
            </div>

          </div>
          <div class="col-6">

            <div class="table-responsive bordertable table-striped">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th style="background-color:#ed1c24 ;color: white;" scope="col">Expulsados</th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      dato1
                    </th>

                  </tr>
                  <tr>
                    <th scope="row">
                      dato2
                    </th>

                  </tr>
                  <tr>
                    <th scope="row">
                      dato3
                    </th>
                    <!-- <td>
                        <div class="d-flex align-items-center">
                          <span class="mr-2">80%</span>
                          <div>
                            <div class="progress">
                              <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                            </div>
                          </div>
                        </div>
                      </td> -->
                  </tr>

                </tbody>
              </table>
            </div>

          </div>
        </div>




      </div>



    </div>





  </div>
</div>