
<mat-dialog-content style="display: contents;">
    <div class="header pb-8 pt-md-3">
        <div class="container-fluid" style="background-color: #F0F3F4 ;">
            <form [formGroup]="form">
                <hr style="border-color:white; margin-bottom:20px; margin-top:-30px;">
                <div class="container margincomponent">
                    <div class="row">
                        <div class="col-8"></div>
                        <div class="col-4 buttonconf" style="text-align: end;">
                            <button type="submit" (click)="openDialogRelease()" class="btn btn-primary" style="margin-right: 20px; color: white;"
                                mat-raised-button>
                                Liberar
                            </button>
                            <button mat-flat-button color="warn" [mat-dialog-close]="true">Cancelar</button>

                        </div>
                    </div>
                </div>
                <br>

                <form [formGroup]="form2">
                    <div class="margincomponent">
                      <!--FILTRO  [formGroup]="form"  -->
                      <!-- <form [formGroup]="form"> -->
                      <div class="form-group mb-0">
                        <div class="input-group input-group-alternative">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                          </div>
                          <!--FILTRO  formControlName="filtro"  -->
                          <input formControlName="first_name" class="form-control" placeholder="Buscar" type="text">
                        </div>
                      </div>
                      <!-- </form> -->
                    </div>
              </form>
              <br>
                <div class="row">
                    <div class="col">
                        <div class="card shadow">
                            <div class="card-header border-0">
                                <h3 class="mb-0">Jugadores</h3>

                            </div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col"></th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Apellidos</th>
                                            <th scope="col">Nick</th>
                                            <th scope="col">Dorsal</th>
                                            <th scope="col">Posición</th>
                                            <th scope="col">Estatus</th>

                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr *ngFor="let item of playersGet">

                                            <td>

                                                <!-- <mat-checkbox formControlName="masterSelected" class="example-margin"  (change)="isAllSelected()" value="{{item.id}}" >
                                                    {{ item.id }}
                                                  </mat-checkbox> -->
                                                  <input type="checkbox" formControlName="masterSelected" (change)="onCategoriaPressed(item)" class="form-checkbox h-5 w-5 text-indigo-600"><span hidden class="ml-2 text-gray-700">{{item.id}}</span>

                                            </td>

                                            <td>

                                                {{item.first_name}}

                                            </td>
                                            <td>
                                                {{item.last_name}}

                                            </td>
                                            <td>
                                                {{item.nick}}
                                            </td>

                                            <td>
                                                {{item.player_number}}
                                            </td>
                                            <td>
                                                {{item.positionName}}
                                            </td>
                                            <td>
                                                {{item.status}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>

                        </div>
                    </div>
                </div>


            </form>


            <!-- <input class="add-products-button" type="button" value="+" (click)="addProduct()"> -->
            <!-- <div *ngFor="let item of test.controls; let i=index">
                <div [formGroup]="childTest">
                     <input type="text" formControlName="inputRandom">
                </div>
            </div> -->

        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
        <!-- Table -->

    </div>


</mat-dialog-content>

<!-- <mat-dialog-actions style="flex-direction: row-reverse;">
  <div>
      <button mat-flat-button color="warn" [mat-dialog-close]="true">Cancelar</button>
  </div>
</mat-dialog-actions> -->

