<div class="header pb-8 pt-5 pt-md-8">

  <div class="container-fluid" style="background-color: #F0F3F4 ;">

    <hr style="border-color:white; margin-bottom:20px; margin-top:-30px;">
    <div class="container margincomponent">
      <div class="row">
        <div class="col-10"></div>

      </div>
    </div>


    <form [formGroup]="form">
      <div class="flex-container">
        <div class="left">
           <!--FILTRO  [formGroup]="form"  -->
        <!-- <form [formGroup]="form"> -->
        <div class="form-group mb-0">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <!--FILTRO  formControlName="filtro"  -->
            <input formControlName="first_name" (keyup.enter)="findPlayers()"  class="form-control" placeholder="Buscar" type="text">
            <input class="form-control" (click)="load()" *ngIf="isShown" style="text-align: right; width: 42px;"
                  type="button" value="X">
          </div>
        </div>
        <!-- </form> -->
        </div>
      </div>
    </form>
      <form style="margin-bottom: 10px;" [formGroup]="pagina" *ngIf="pagination">
        <div class="container">
          <div class="row">
            <div class="col-2">
              <input hidden formControlName="linkprev">
              <div><a type="button" style="color:dimgrey;" (click)="obtenerLinkPrev()" class="btn nextprevious"><i
                    class="fas fa-arrow-left"></i> Anterior</a></div>
            </div>
            <div class="col-8"></div>
            <div class="col-2">
              <input hidden name="url" formControlName="link">
              <div><a type="button"  style="color:dimgrey;" (click)="obtenerLink()" class="btn nextprevious">Siguiente <i
                    class="fas fa-arrow-right"></i></a></div>
            </div>
          </div>
        </div>

      </form>

      <div class="header-body">
        <!-- Card stats -->
        <div class="row container-center" *ngIf="players">

          <div *ngFor="let item of players" class="tarjeta titulocard">
            <div class="container">
              <div class="row" id="card">
                <!--BOTON PARA LA ACTUALIZACIÖN DE LA IMAGEN-->
                <button (click)="openDialogPhoto(item.id)" title="Editar foto"  class="btn col-3" style="white-space: nowrap;"><i class="fa fa-image" style="font-size:20px"></i></button>
                <div class="col-2"></div>
                <button (click)="openDialogUpdate(item.id)" title="Editar" class="btn col-2" style="white-space: nowrap; margin-left: 1rem;"><i class="fa fa-pen"></i></button>
              </div>
              <hr style="margin-top:0px ;">
            </div>
            <div class="body">
              <!--Aqui ira el logo-->
              <div class="imagencard">
                <img style="width: 150px; max-height: 150px;" src="{{item.photoName}}"
                  alt="sample">
              </div>

              <div class="bodycard"><label><b>Nombre:</b> {{item.first_name + ' ' + item.last_name}}</label></div>
              <!-- <div class="bodycard"><label><b>Apellido:</b> {{item.last_name}}</label></div> -->
              <div class="bodycard"><label><b>Dorsal:</b> {{item.player_number}}</label></div>
              <div class="bodycard"><label><b>Posición:</b> {{item.positionName}}</label></div>
              <!-- <div class="bodycard"><label><b>Dorsal:</b> {{item.player_number}}</label></div> -->
              <div class="bodycard"><label><b>Equipo:</b> {{item.team.t_name}}</label></div>

            </div>
            <div class="pie">
              <a (click)="openDialogDetails(item.id)">Detalles</a>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
