.inp1{
    //position:absolute;
    color:#000;
    //width:292px;
    //height:25px;
    top:15px;
    left:499px;
    border:none;
    color:#ccc;
    font-size:12px;
}

.borderContainer{
    border-radius:25px;
}

.resenia{
  margin-left: 1rem;
}

