/* You can add global styles to this file, and also import other style files */
.vodka-bg-auth {
  background-color: #F0F3F4 !important;
}

.btn-vodka-primary {
  background-color: #4ECF84 !important;
  border-color: #4ECF84 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
