<div class="header pb-8 pt-5 pt-md-8">

    <div class="container-fluid" style="background-color: #F0F3F4 ;">

      <hr style="border-color:white; margin-bottom:20px; margin-top:-30px;">
      <div class="container margincomponent">
        <div class="row">
          <div class="col-10"></div>
          <a routerLink="/createMatchDays" class="btn btn-primary " id="btn" style="color: white;" mat-raised-button>
            <i class="fas fa-plus-circle"></i> Nueva Jornada
          </a>
        </div>
      </div>


      <form [formGroup]="form">
        <div class="flex-container">
          <div class="left">
            <!--FILTRO  [formGroup]="form"  -->
          <!-- <form [formGroup]="form"> -->
          <div class="form-group mb-0">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <!--FILTRO  formControlName="filtro"  -->
              <input formControlName="m_name" (keyup.enter)="findMatchDay()" class="form-control" placeholder="Buscar" type="text">
              <input class="form-control" (click)="load()" *ngIf="isShown" style="text-align: right; width: 42px;"
                  type="button" value="X">
            </div>
          </div>
          <!-- </form> -->
          </div>
        </div>
      </form>
        <form style="margin-bottom: 10px;" [formGroup]="pagina" *ngIf="pagination">
          <div class="container">
            <div class="row">
              <div class="col-2">
                <input hidden formControlName="linkprev">
                <div><a type="button" style="color:dimgrey;" (click)="obtenerLinkPrev()" class="btn nextprevious"><i
                      class="fas fa-arrow-left"></i> Anterior</a></div>
              </div>
              <div class="col-8"></div>
              <div class="col-2">
                <input hidden name="url" formControlName="link">
                <div><a type="button"  style="color:dimgrey;" (click)="obtenerLink()" class="btn nextprevious">Siguiente <i
                      class="fas fa-arrow-right"></i></a></div>
              </div>
            </div>
          </div>

        </form>

        <div class="header-body">
          <!-- Card stats -->
          <div class="row container-center" *ngIf="matchDays">

            <div *ngFor="let item of matchDays" class="tarjeta ">
              <div class="container">
                <div class="row titulocard">
                  <div class="title col-9" style="align-self: center;">{{item.m_name}}</div>
                  <button (click)="openDialogUpdate(item.id)" class="btn col-1" style="white-space: nowrap;"><i class="fa fa-pen"></i></button>
                  <button (click)="openDialogDelete(item.id)" class="btn col-1" style="white-space: nowrap; padding: 8px;"><i class="fa fa-trash"></i></button>

                </div>
                <hr style="margin-top:0px ;">
              </div>
              <div class="body scroll" style="margin-left: 40px;margin-bottom: 20px;">
                <!--Aqui ira el logo-->
                <!-- <div class="imagencard">
                  <img style="width: 150px; max-height: 150px;" src="https://ligasabatinadefutbol.com.mx/media/bearleague/{{item.t_emblem}}"
                    alt="sample">
                </div> -->
                <!-- <div class="bodycard"><label>{{item.m_descr}}</label></div> -->
                  <!-- <div class="row">
                  </div> -->
                  <div class="row" *ngFor="let item of item.matches" style="margin-bottom:20px;">
                    <!-- <div class="col-1" >

                    </div> -->
                    <div class="col-1" style="border-top-style: solid;
                    border-right-style: solid;
                    border-bottom-style: solid;
                    border-left-style: solid;width: 30px;height: 30px; padding-left: 8px;">
                    <label> {{item.score1}}</label>
                    </div>
                    <div class="col-3">
                      <div class="imagencard">
                        <img style=" width: 30px; max-height:30px;"
                          src="{{item.logoTeam1}}" alt="sample">
                      </div>
                    </div>
                    <div class="col-2"><h5>VS</h5></div>
                    <div class="col-1" style="margin-left: 10px;border-top-style: solid;border-right-style: solid;border-bottom-style: solid;border-left-style: solid;width: 30px;height: 30px; padding-left: 8px;"> {{item.score2}}</div>
                    <div class="col-3">
                      <div class="imagencard">
                        <img style=" width:30px; max-height:30px;"
                          src="{{item.logoTeam2}}" alt="sample">
                      </div>
                    </div>
                    <!-- <div class="col-1" style="">
                      {{item.published}}
                    </div> -->
                  </div>
              </div>

              <div class="pie">
                <!-- <a [routerLink]="['/createMatch', item.id]">Partidas</a>
                | -->
                <!-- <p style="color:white;">|</p> -->
                <a [routerLink]="['/detailsMatchDays', item.id]">Detalles</a>
              </div>

            </div>
          </div>
        </div>

    </div>
  </div>
