<div class="header pb-8 pt-5 pt-md-8">

  <div class="container-fluid" style="background-color: #F0F3F4 ;">

    <hr style="border-color:white; margin-bottom:20px; margin-top:-30px;">
    <div class="container margincomponent">
      <div class="row">
        <div class="col-10"></div>
        <a (click)="generatePdf()" class="btn btn-primary" style="color: white;" mat-raised-button>
          Generar reporte
        </a>
        <button class="btn btn-danger"  [routerLink]="detailsTeam" type="submit" mat-raised-button>
          Regresar
        </button>
      </div>
    </div>
    <hr>

    <form [formGroup]="formDetail" id="content" #content>

      <div class="row" style="padding-top:10px ;">
        <div class="col-1"></div>
        <div class="col-2">

          <div style=" height: 105px; width:140px" class="col-12">
            <img [src]="imageLiga" style="max-width: 130%;">
          </div>

        </div>
        <div class="col-6">
          <h4 style="text-align:center ;">Cedula de inscripción: Torneo X cosa </h4>
          <br>
          <br>
          <div><label> Nombre del equipo: <b><input style="border: 0px; background-color: transparent; color: #383535;"
                  formControlName="t_name" readonly></b></label></div>
          <br>
          <div class="row">
            <div class="col-8">
              <div><label>Representante:___________________________________<b><input
                      style="border: 0px; background-color: transparent;" readonly></b></label></div>
            </div>
            <div class="col-4">
              <h3>Firma:________________________</h3>
            </div>
          </div>
          <h3>Suplente:__________________________________________</h3>
        </div>

        <div class="col-3">

          <div style=" height: 105px; width:130px" class="col-12">
            <img class="image-team" [src]="imageSrc" *ngIf="imageSrc" style="max-width: 150%;">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <h3>Información de contacto</h3>
          <div class="row" style="border: solid; border-size:1px;">
            <div class="col-6">
              <h3>Correo electronico:</h3>
            </div>
            <div class="col-6">
              <h3>Celular:</h3>
            </div>
          </div>
        </div>
        <div class="col-1"></div>
      </div>

      <div class="header-body">
        <!-- Card stats -->
        <div style="padding-left: 80px;" class="row players container-center" *ngIf="Players1">
          <div *ngFor="let item of Players1" class="tarjeta titulocard">
            <div class="hero"
              style=" background-image: url('https://w7.pngwing.com/pngs/151/231/png-transparent-logo-football-football-logo-blue-other-emblem.png')">
              <div class="row">
                <div class="col-3" style="padding-top:8px ; padding-left: 15px;">
                  <div class="col-12">

                    <img [src]="item.image" style="height: 170px; width: 120px;">
                  </div>
                </div>
                <!-- <div class="col-4" style="padding-top:8px ; padding-left: 8px;">
                                  <div style="border-style: dotted; height: 105px; width:140px" class="col-12">
                                      <img src="https://ligasabatinadefutbol.com.mx/media/bearleague/{{item.photoName}}"  style="height: 200px; width:200px">
                                  </div>
                              </div> -->
                <!-- <div class="imagencard">
                                  <img style=" width: 150px" src="https://ligasabatinadefutbol.com.mx/media/bearleague/{{item.photoName}}"
                                    alt="sample">
                                </div> -->
                <div class="col-9" style="padding-left: 8px; padding-top: 8px;">
                  <div style="text-align:right; padding-top:3px ; padding-right: 8px;"><label
                      style="font-size:18px ;">Número:</label><label>_____</label></div>
                  <br>
                  <div class="bodycard"><label style="font-size:18px ;">Nombre:<b
                        style="color: #383535 ;">{{item.first_name}} {{item.last_name}}</b></label></div>
                  <div class="bodycard"><label style="font-size:18px ;">Curp: <b
                        style="color: #383535 ;">{{item.curp}}</b></label></div>
                  <div class="bodycard"><label style="font-size:18px ;">Posición:<b
                        style="color: #383535 ;">{{item.positionName}}</b></label></div>
                  <div class="bodycard"><label style="font-size:18px ;">Nick:<b
                        style="color: #383535 ;">{{item.nick}}</b></label></div>
                </div>

                <div class="col-12"
                  style="padding-left: 8px; padding-top: 10px; padding-bottom: 20px; padding-left: 20px;">
                  <div><label style="font-size:18px ;">Firma:</label><label>___________________________</label></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>

    <form id="content2" #content2>

      <div class="header-body">
        <!-- Card stats -->
        <div style=" padding-left: 80px;" class="row container-center" *ngIf="Players2">
          <div *ngFor="let item of Players2" class="tarjeta titulocard">
            <div class="hero"
              style=" background-image: url('https://w7.pngwing.com/pngs/151/231/png-transparent-logo-football-football-logo-blue-other-emblem.png')">
              <div class="row">
                <div class="col-3" style="padding-top:8px ; padding-left: 15px;">
                  <div class="col-12">

                    <img [src]="item.image" style="height: 170px; width: 120px;">
                  </div>
                </div>
                <!-- <div class="col-4" style="padding-top:8px ; padding-left: 8px;">
                                  <div style="border-style: dotted; height: 105px; width:140px" class="col-12">
                                      <img src="https://ligasabatinadefutbol.com.mx/media/bearleague/{{item.photoName}}"  style="height: 200px; width:200px">
                                  </div>
                              </div> -->
                <!-- <div class="imagencard">
                                  <img style=" width: 150px" src="https://ligasabatinadefutbol.com.mx/media/bearleague/{{item.photoName}}"
                                    alt="sample">
                                </div> -->
                <div class="col-9" style="padding-left: 8px; padding-top: 8px;">
                  <div style="text-align:right; padding-top:3px ; padding-right: 8px;"><label
                      style="font-size:18px ;">Número:</label><label>_____</label></div>
                  <br>
                  <div class="bodycard"><label style="font-size:18px ;">Nombre:<b
                        style="color: #383535 ;">{{item.first_name}} {{item.last_name}}</b></label></div>
                  <div class="bodycard"><label style="font-size:18px ;">Curp: <b
                        style="color: #383535 ;">{{item.curp}}</b></label></div>
                  <div class="bodycard"><label style="font-size:18px ;">Posición:<b
                        style="color: #383535 ;">{{item.positionName}}</b></label></div>
                  <div class="bodycard"><label style="font-size:18px ;">Nick:<b
                        style="color: #383535 ;">{{item.nick}}</b></label></div>
                </div>

                <div class="col-12"
                  style="padding-left: 8px; padding-top: 10px; padding-bottom: 20px; padding-left: 20px;">
                  <div><label style="font-size:18px ;">Firma:</label><label>___________________________</label></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </form>
  </div>
</div>
